{% extends 'DA/base.html' %}

{% block title %}Locations{% endblock %}
{% block content %}
<h1 class="text-center">Locations </h1>
<div class="row">
            {% for locations in locations %}
            <div class="col-2 my-3 align-self-center">
               <img src="{{ locations.img.url }}" class="img-fluid">
            </div>
            <div class="col-3 my-3 align-self-center">
               <p>{{ locations }}</p>
            </div>
            <div class="col-7 my-3 align-self-center">
               <p>{{ locations.plot }}</p>
            </div>
        {% endfor %}
</div>
{% endblock %}